# Ignore node_modules directory
node_modules/

# Ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled PHP files
*.php~
*.swp

# Ignore vendor directory for Composer
vendor/

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
